{% extends 'base.html.twig' %}

{% block title %}
<title>  userSpace </title>
{% endblock %}


{% block titlehoder %}
 <div class="container logo-wrap">
        <div class="row pt-5">
          <div class="col-12 text-center">
            <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button" aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
            <span class="site-logo"><a href="#"}>UserSpace</h1>
          </div>
        </div>
      </div>
{% endblock %}

{% block main %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
{% for comment in userComments %}
    {{comment.article.id}} {{comment.article.title}}
    {{comment.comment}} {{comment.user.id}}
  <a href={{path("deleteComment",{'user': comment.user.id, 'id':comment.id} ) }} class="btn btn-danger"> Delete </a>
  
  <a href={{path("editComment",{'user': comment.user.id, 'id':comment.id} ) }} class="btn btn-danger">Edit </a>
      </br>
{% endfor %}
{% endblock %}





{% block footer %}{% endblock %}