{% extends 'base.html.twig' %}


{% block title %} 
<title> Comment </title>
 {% endblock %}

 {% block stylesheet %}
 {{parent()}}
 <link rel="stylesheet" href="{{asset('css/login.css')}}">
 
 {% endblock %}
 
{% block titlehoder %}
 <div class="container logo-wrap">
        <div class="row pt-5">
          <div class="col-12 text-center">
            <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button" aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
            <span class="site-logo"><a href="{{path('index')}}">Comments</h1>
          </div>
        </div>
      </div>
{% endblock %}

        {% block main %}
        <ul>
        <div class="blog-container">
        {% for comment in blogComments %}
            {{ comment.id }} .  {{comment.author}}
     
        <li>{{ comment.comment }}</li>
            {% endfor %}
        </ul>
        </div>
        {% endblock %}

        