{% extends 'base.html.twig' %}

{% block title %}
<title> contact </title>
{% endblock %}

{% block stylesheet %}
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300, 400,700" rel="stylesheet">
 
    <link rel="stylesheet" href="{{asset('css/animate.css') }} ">
        <!-- <link rel="stylesheet" href="css/animate.css"> -->
    <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css') }} ">    
        <!-- <link rel="stylesheet" href="css/owl.carousel.min.css"> -->
    <link rel="stylesheet" href="{{asset('fonts/ionicons/css/ionicons.min.css')}}"> 
        <!-- <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css"> -->
    <link rel="stylesheet" href="{{asset('fonts/fontawesome/css/font-awesome.min.css')}}">
        <!-- <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="{{asset('fonts/flaticon/font/flaticon.css')}}">
        <!-- <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">-->
    <link rel="stylesheet" href="{{asset('css/bootstrap.css') }} ">
      <!-- Theme Style -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">    
     <!-- <link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="{{asset('css/contact.css')}}">  
{% endblock %}

{% block main %}

<div class="form">
        {{ form_start(contactForm) }}
        {{ form_widget(contactForm) }}
       <!-- <input type="submit" value="Send" />-->
        <input type="submit" value="Send" class="btn btn-success" />
        {{ form_end(contactForm) }}
    </div>

{% endblock %}