<!doctype html>
<html lang="en">
  <head>

    {% block title %} {% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheet %}
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300, 400,700" rel="stylesheet">
 
    <link rel="stylesheet" href="{{asset('css/animate.css') }} ">
        <!-- <link rel="stylesheet" href="css/animate.css"> -->
    <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css') }} ">    
        <!-- <link rel="stylesheet" href="css/owl.carousel.min.css"> -->
    <link rel="stylesheet" href="{{asset('fonts/ionicons/css/ionicons.min.css')}}"> 
        <!-- <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css"> -->
    <link rel="stylesheet" href="{{asset('fonts/fontawesome/css/font-awesome.min.css')}}">
        <!-- <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="{{asset('fonts/flaticon/font/flaticon.css')}}">
        <!-- <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">-->
    <link rel="stylesheet" href="{{asset('css/bootstrap.css') }} ">
      <!-- Theme Style -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">    
     <!-- <link rel="stylesheet" href="css/style.css">-->
    {% endblock %}
  </head>

<body>
<!--top nav never change -->
{% block topnav %}
  <header role="banner">
      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-9 social">
              <a href={{path('user_registration')}}> <span class="fa"> Sign UP </span></a>
              <a href={{path("app_login")}}> <span class="fa"> Login </span></a>
              <a href={{path("app_logout")}}> <span class="fa"> Logout </span></a>
               {% if is_granted('ROLE_USER') %}
                bonjour,      {{ app.user.username }} {{ app.request.method }}
                                     {% if is_granted('ROLE_ADMIN') %}
                                     hahaha ROLE_ADMIN
                                     {% endif %}
                              
                    {% else %}
                       HELLO JOEDOE
                    {% endif %}
   
            </div>
            <div class="col-3 search-top">
            
              <!--  SEARCH BOX 
              <a href="#"><span class="fa fa-search"></span></a> 
              <form action="#" class="search-top-form">
                <span class="icon fa fa-search"></span>
                <input type="text" id="s" placeholder="Type keyword to search...">
                </form>
              -->
            </div>
          </div>
        </div>
      </div>
  {% endblock %}
<!-- end topnav -->

  {% block titlehoder %}{% endblock %}

{% block menu %}
  <nav class="navbar navbar-expand-md  navbar-light bg-light">
        <div class="container">
           <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" href={{path("index")}}>Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active" href={{path("blogArticle")}} >Blog</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="category.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                  <a class="dropdown-item" href={{path("blogArticle")}}>沈巍</a>
                  <a class="dropdown-item" href={{path("blogArticle")}}>赵云澜</a>
                  
                </div>
              <li class="nav-item">
                <a class="nav-link" href="{{path("contact")}}">Contact</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
{% endblock %} 
      
  <!-- END header -->

  {% block banner %} {% endblock %}

  {% block main %}  {% endblock %}
   
  {% block sidebar %}{% endblock %} 

{% block blogRecommend %} 

{% endblock %}

{% block footer %}
    <footer class="site-footer">
    
    </footer>
    <!-- END footer -->  
{% endblock %}  

    <!-- loader -->
   
    {% block JS %}
 
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/main.js"></script>
    {% endblock %}
    
  </body>

</html>